* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  --poppins-regular: 300;
  --poppins-bold: 600;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Navbar */

.navbar {
  padding: 1.4rem 2rem;
  box-shadow: 0px 2.98px 7.46px 0px #0000001a;
}

.navbar__logo {
  width: 5rem;
}

/* ' Hero ' Section */

.hero--section__image {
  width: 25rem;
  margin-block: 2rem;
  align-self: center;
}
.hero--section {
  display: flex;
  flex-direction: column;
}
.hero--section h1 {
  font-weight: var(--poppins-bold);
  margin-left: 2.5rem;
}

.hero--section p {
  font-weight: var(--poppins-regular);
  margin-left: 2.5rem;
}
